.podcast-text img {
  width: 90%;
  margin-top: 26px;
}
.podcast-text {
  color: white;
}

.podcast-text h1 {
  margin-top: 22px;
  font-size: 37px;
  /* line-height: 22px; */
  letter-spacing: -0.005em;
  font-weight: 600;
  color: #fff;
  text-transform: none;
}
.podcast-text p,
h6 {
  font-size: 13px;
  line-height: 12px;
  letter-spacing: -3.985em;
  font-weight: initial;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1px;
}
#load-more {
  text-align: center;
  margin-top: 20px;
}
.duration-text {
  color: #c7c1c1;
  font-weight: 100;
  text-align: center;
  float: right;
}

.card-episode {
  /* align-items: center; */
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding-bottom: 65px;
}
.card-episode-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  color: #fff;
}
.card-episode-body p {
  font-weight: lighter;
  color: #c7c1c1;
  margin-bottom: 0;
}
.created-at {
  float: left;
  margin-top: 15px;
}
/* Controls design */
.episode-controls {
  text-align: right;
  margin: 0px;
  float: right;
  margin-top: 15px;
}
.episode-controls i {
  padding: 0 20px;
  font-size: 17px;
  color: #e6e6e6;
}
.episode-controls i:hover {
  color: #b16852 !important;
}
.episode-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Upvote design */
.card-episode-upvote {
  float: left;
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 5px;
}

/* Hover effects */
.card-episode:hover {
  background: #0606063b;
  /* cursor: pointer; */
}
.card-episode-upvote:hover,
.card-episode-upvote.card-episode-upvote-upvoted {
  cursor: pointer;
  margin-right: 5px;
}
.card-episode-upvote-upvoted .card-episode-arrow {
  border-bottom-color: #5898f1;
}
.card-episode:hover .card-episode-upvote {
  transform: scale(1.2);
}
.card-episode:hover .card-episode-controls-hidden a {
  color: #e6e6e6;
}
.card-episode-upvote:hover .card-episodet-arrow {
  border-bottom: 9px solid #5898f1;
}

.episode-audio {
  /* float: left; */
  margin-right: 20px;
}

.card-episode-description {
  color: #c7c1c1;
  padding: 20px;
  padding: 22px;
  margin-top: 64px;
}

.sb-soundplayer-btn {
  cursor: pointer !important;
  width: 20px !important;
  height: 20px !important;
  border: 0px;
}
.sb-soundplayer-btn:focus {
  outline: none !important;
}
.sb-soundplayer-btn:focus:hover {
  cursor: pointer !important;
  cursor: pointer !important;
}
.fa-info-circle {
  font-size: 20px;
}
.fa-info-circle:hover {
  font-size: 20px;
  cursor: pointer !important;
}
.sb-soundplayer-play-btn:focus {
  outline: none !important;
  cursor: pointer !important;
}
.sb-soundplayer-progress-container {
  background-color: #8484844d;
  height: 7px;
  border-radius: 3px;
  cursor: pointer;
}

.sb-soundplayer-progress-inner {
  background-color: #30343f73;
  height: 7px;
  border-radius: 2px;
  transition: width 0.2s ease-in;
}
.button-outline {
  position: relative;
  z-index: 2;
  color: inherit;
  background-color: transparent;
  border-radius: 3px;
  /* border: 1px solid currentcolor; */
}

.sb-soundplayer-icon {
  width: 1em;
  height: 1em;
  position: relative;
}
svg {
  max-height: 100%;
}
/* .button-outline:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid transparent;
  background-color: currentcolor;
  border-radius: 3px;
  opacity: 0;
} */
