.body-home {
  background-image: linear-gradient(
    to bottom,
    #048a81,
    #007276,
    #005b68,
    #004455,
    #022f40
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.container-home-rigth {
  margin-top: 20px;
}
.body-home h1 {
  color: #f8f9fa;
  font-size: 80px;
  margin-bottom: 14px;
  padding-top: 40px;
  font-weight: 800;
  margin-top: 20px;
}
.body-home h3 {
  color: #f8f9fa;
}
/* .selector {
  text-align: center;

} */

@media (max-width: 480px) {
  .body-home h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .body-home h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .body-home h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 1258px) and (min-width: 992px) {
  .body-home h1 {
    font-size: 65px;
  }
}

.card-home {
  height: 200px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-position: center;
  color: white;
  background-color: transparent !important;
  position: relative;
  margin-bottom: 15px;
  border-radius: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-home-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;

  border-radius: 0;
}
.card-home-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-home-description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  text-align: center;
  padding: 10%;
  color: white;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-home-description:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}
